<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Errors digest</title>
    <link type="text/css" href="/media/jquery/css/ui-lightness/jquery-ui-1.8.6.custom.css" rel="stylesheet" />    
    <link type="text/css" href="/media/style.css" rel="stylesheet" />    
    <script type="text/javascript" src="/media/jquery/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/jquery/js/jquery-ui-1.8.6.custom.min.js"></script>
    <script type="text/javascript" src="/media/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/media/script.js"></script>
</head>
<body>
<div id="wrap">
	<div id="np-div">
        <span style="margin-right: 50px;"><a href="/">Errors digest</a></span>
        <span id="edit_patterns_button" onclick="edit_patterns();">Edit patterns</span>
        <span id="update_digest_span" style="float: right;" ></span>
    <div id="all_patterns"></div></div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</div>	
</body>
</html>

