<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Errors digest</title>
    <link type="text/css" href="jquery/css/ui-lightness/jquery-ui-1.8.6.custom.css" rel="stylesheet" />    
    <link type="text/css" href="style.css" rel="stylesheet" />    
    <script type="text/javascript" src="jquery/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="jquery/js/jquery-ui-1.8.6.custom.min.js"></script>
    <script type="text/javascript" src="jquery.blockUI.js"></script>
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
<div id="wrap">
	<div id="np-div">
        <span style="margin-right: 50px;"><a href=".">Errors digest</a></span>
        <span id="edit_patterns_button" onclick="edit_patterns();">Edit patters</span>
        <span id="show_all_patterns_button" onclick="show_all_patterns();">Show all</span>
        <span id="update_digest_span" style="float: right;" ></span>
        <div id="all_patterns"></div>
        <div id="new_pattern"></div>
    </div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</div>	
</body>
</html>

