		<table>
			<tr><th>Message</th><th>Last</th><th>10 мин</th><th>1 час</th><th>4 часа</th><th>24 часа</th><th>48 часов</th></tr>
			{% for message in digest %}
			<tr {% if message.total == 0 %}	class="zero_pattern" {% endif %} >
				<td class='pattern_text'>
					{% include "message.html" %}
				</td>
				<td>{{ message.last_ts_delta }}</td>
				{% for item in message.counts %}
					{% if item.count > 0 %}
						<td class="td-count" onclick="open_pattern('{{ message.hash }}', '{{ item.min }}');">{{ item.count }}</td>
					{% else %}
						<td class="td-zero"></td>
					{% endif %}
				{% endfor%}
			</tr>
			{% endfor%}
		</table>
		<script type="text/javascript">
			show_buttons();
			replace_hex();
		</script>
