		<table>
			<tr><th>Pattern</th><th>Last</th><th>10 мин</th><th>1 час</th><th>4 часа</th><th>24 часа</th><th>48 часов</th></tr>
		{% for pattern in digest %}
			<tr {% if pattern.total == 0 %}	class="zero_pattern" {% endif %} >
				<td {% if pattern.is_default %}	id="default_pattern" {% endif %} > {{ pattern.name }}</td>
				<td>{{ pattern.last_ts_delta }}</td>
				{% for item in pattern.counts %}
					{% if item.count > 0 %}
						<td class="td-count" onclick="open_pattern('{{ pattern.hash }}', '{{ item.min }}');">{{ item.count }}</td>
					{% else %}
						<td class="td-zero"></td>
					{% endif %}
				{% endfor%}
			</tr>
		{% endfor%}
		</table>
		<script type="text/javascript">
			update_digest = true;
			if(update_digest == true) 
			$("#update_digest_span").text("автообновление каждые 60 секунд");
		</script>
